.header{
    width: 100%;
    background-color: var(--azul-default);
    position: fixed;
   
}

.header-content{
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header figure{
    height: 100%;
    padding: 0;
    border-right: 2px solid var(--black);
    
    margin: auto 0;
    padding: 22px;

}
.header img{
    width: 40px;
    height: 40px;
}
.header ul{
    display: flex;
    gap: 25px;
    list-style: none;
    
}

.header ul li{
    cursor: pointer;
    
}

.header ul li a img{
    width: 35px;
    height: 35px;

    object-fit: cover;

}

.header a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
}

.header a:hover{
    transition: all .4s;
    color: var(--azul-default-claro);
}

.login img{
    width: 25px;
    height: 25px;
}


@media screen and (max-width: 980px){

    .header{
        margin-right: 0;
    
    }

}
