.header{
    width: 100%;
    background-color: var(--azul-default);
    position: fixed;
    top: 0;
}

.header-content{
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header figure{
    height: 100%;
    padding: 0;
    border-right: 2px solid var(--black);
    
    margin: auto 0;
    padding: 22px;

    float: left;
}
.header img{
    width: 40px;
    height: 40px;
}


.links-header{
    display: flex;
    gap: 25px;
    list-style: none;
    
}

.links-header li{
    cursor: pointer;
    
}

.header ul li a img{
    width: 35px;
    height: 35px;

    object-fit: cover;

}

.header a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
}

.header a:hover{
    transition: all .4s;
    color: var(--azul-default-claro);
}

.button-header{
    display: none;
    background-color: inherit;
    border-style: none;
    font-size: 35px;
    font-weight: bold;
    color: var(--black);
    cursor: pointer;
}

@media screen and (max-width: 1242px){
    .header{
        padding: 0 20px;
    }
}

@media screen and (max-width: 980px){

    .header{
        margin-right: 0;
    
    }
    .header-content{
        display: block;
    }

    .button-header{
        display: block;
        float: right;
        margin: 0.6em;
    }

    .links-header{
        width: 250px;
        background-color: var(--black);
        color: white;
        position: fixed;
        top: 91px;
        right: 0;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 10px;

        margin: 0;
        padding: 0;
    }

    .js .links-header{
        transition: max-height 0.7s;
        overflow: hidden;
        max-height: 0;
    }

    .no-js .links-header{
        max-height: 173px;
        overflow: hidden;
    }

    .links-header li{
        padding: 15px 20px;

    }
    .links-header li a{
        color: var(--azul-default-claro);
        

    }

    .links-header li a:hover{
        color: var(--azul-default);
        text-align: center;

    }



}
