.header{
    width: 100%;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;

    z-index: 2;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content__figure{
    height: 100%;

    border-right: 2.5px solid var(--color-secondary);
    
    margin: auto 0;
    padding: 20px;

    float: left;
}

.figure__img{
    background-image: var(--logo);
    background-size: cover;
    width: 50px;
    height: 50px;
}


.nav__links{
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.nav__links___li{
    cursor: pointer;
}

.li__link{
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: bold;
}

.li__link:hover{
    transition: color .8s ease-in-out;
    color: var(--color-tertiary);
}

.header__button{
    display: none;
    background-color: inherit;
    border-style: none;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: var(--color-name);
    cursor: pointer;
}

.header__button:hover{
    transition: color .8s ease-in-out;
    color: var(--color-tertiary);
}

@media screen and (max-width: 1242px){
    .header{
        padding: 0 20px;
    }
}

@media screen and (max-width: 980px){

    .header__button{
        display: block;
        float: right;
        margin: 0.6em;
    }

    .nav__links{
        width: 250px;
        background-color: var(--black);
        color: white;
        position: fixed;
        top: 91px;
        right: 0;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 10px;

        margin: 0;
        padding: 0;
    }

    .js .nav__links{
        background-color: var(--color-primary);
        transition: max-height 0.7s;
        overflow: hidden;
        max-height: 0;
    }

    .no-js .nav__links{
        height: 173px;
        overflow: hidden;
    }

    .nav__links___li{
        padding: 15px 20px;

    }

    .li__link{
        color: var(--color-secondary);
    }

    .li__link:hover{
        color: var(--azul-tertiary);
        text-align: center;

    }



}
