.home{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    scroll-margin-top: 95px;

}

.home__title{
    color: var(--color-name);
    font-size: 40px;
    line-height: 1.5em;
}

.home__title___text--name{
    font-family: 'Montaga', serif;
    font-size: 46px;
    margin: 0 5px;
    color: var(--color-my-name);

    /* border-bottom: 2px solid #3FA796;  */
    /* animation: hue-rotate 2s linear infinite alternate; */
}

.home__title___text--home + div{
    margin-left: 20px;
}
.home__title___text--home:nth-child(1){
    margin: 0;
}


.home__title___text--home:nth-child(3){
    margin: 0 0 0 40px;
}

.home__links{
    list-style: none;
    margin: 0;
    display: flex;
    gap: 20px;
}

.home .li__link{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;

    border: 2px solid var(--color-name-default);
    border-radius: 20px;

    color: var(--color-name-default);
}

.home .li__link:hover{
    box-shadow: 0 0 .7em var(--color-name-default);
    color: var(--color-name);
    font-size: 19px;
    transition: all .5s;
}

.home__perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__perfil___img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    color: var(--black)

}

.home .li__link div{
    width: 35px;
    height: 35px;
    object-fit: cover;
    background-image: var(--logo-git);
    background-size: cover;
}

.home .li__link .img-linkedin{
    width: 35px;
    height: 35px;
    object-fit: cover;
    background-image: var(--logo-linkedin);
    background-size: cover;
}

@keyframes hue-rotate{
    to{
        filter: hue-rotate(100deg);
    }
}

@media screen and (max-width: 1000px){

}

@media screen and (max-width: 980px){
    .home{
        width: 100%;
        height: 100vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        margin-top: 80px;
    }

    .home__title{
        text-align: center;
    }

    .home__title___text--name , .home__title___text--home{
        margin: 0;
    }

    .home__links{
        padding: 0;
        justify-content: center;
    }
    
}