.projetos{
    scroll-margin-top:  95px;
}


.projetos__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    color: var(--color-secondary);
}

.section__content__card{
    max-width: 350px;
    min-width: 350px;
    max-height: 325px;
    min-height: 325px;
    background-color: var(--color-primary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__link{
    display: block;
    width: 200px;
    height: 220px;
    
}

.card__name{
    padding: 16px;
}


.card__link:link, .card__link:visited, .card__link:active{
    text-decoration: none;
    color: var(--text-nome);
}


.projetos .card__link___img{
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.card__link___verMais{
    transition: all .5s;
    cursor: pointer;
}

.card__link:hover > .card__link___verMais{
    width: 200px;
    min-height: 220px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
    position: relative;
    top: -222px;
    display: flex;
    justify-content: center;
    align-items: center;  

}
.card__link:hover > .card__link___verMais::after{
    transition: all .3s;
    content: "Ver mais";
}


.figure__figcaption{
    padding: 16px 0 16px 0 ;
    text-align: center;
    
}