.section-02{
    margin-top: 40px;
}

.div-barra{
    width: 100%;
    height: 2px;
}

.section-02-projetos{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.div-section-defaul{
    width: 350px;
    height: 350px;
    background-color: var(--azul-default);
}

.div-section-defaul a{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 3px solid var(--black);
    border-right: 3px solid var(--black);
    margin: auto;
    text-align: center;
}

.div-section-defaul a p{
    padding: 0 10px;
}


.div-section-defaul a:link, a:visited, a:active{
    text-decoration: none;
    color: var(--black);
}

.div-section-defaul a:hover{
    transition: all 0.4s;
    color: rgba(122, 122, 122, 0.591);
}

.div-section-defaul img{
    width: 100%;
    height: 100%;
}