.skills__div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 40px;
}

.skills__div___content{
    max-width: 200px;
    padding: 10px;
    border: 3px solid var(--color-name);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__img{
    width: 55px;
    margin: 5px;
}

.content__text{
    color: var(--color-name);
    font-size: 1.1rem;
    font-weight: 500;

    padding: 16px;
}

.content__description{
    color: var(--color-name);
    font-size: 1.1rem;
    font-weight: 500;
}


@media screen and (max-width: 980px){
    .skills__div{
        width: 90%;
    }
}

