
body{
    --black:#000000;
    --green-blue: #6e93d6;
    --azul-escuro: #111b1e;
    --azul-default:#75D3FB;
    --azul-defaul-claro:#D6E7F1;
    --background: #D1CDCD;

    font-family: 'Roboto', Arial, sans-serif;
    color: var(--black);
    margin: 0 auto;
   

    
    
}

.body{
    background-color: #D1CDCD;
    min-width: 650px;
}


.main{
    margin-right: 350px;
    padding: 20px 30px;

}

@media screen and (max-width: 980px){

    .main{
        margin-right: 0;
        
    
    }
}

