*{
    box-sizing: border-box;
}
.body{
    --black:#000000;
    --green-blue: #6e93d6;
    --azul-escuro: #111b1e;
    --azul-default:#2ECEF2;
    --azul-default-old: #75D3FB;
    --azul-default-claro:#D6E7F1;
    --background: #D1CDCD;

    font-family: 'Roboto', Arial, sans-serif;
    color: var(--black);
    margin: 0 auto;
    background-color: var(--background);
    min-width: 650px;

}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

section{
    min-height: 500px;
    display: flex;
}

/* estilos defaults */

.h2-default{
    margin: 0;
    font-size: 30px;
}

@media screen and (max-width: 1242px){
    .main{
        padding: 0 20px;

    }
}
@media screen and (max-width: 980px){

    section{
        min-width: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

