
body{
    --black:#000000;
    --green-blue: #6e93d6;
    --azul-escuro: #111b1e;
    --azul-default:#75D3FB;
    --azul-defaul-claro:#D6E7F1;
    --background: #D1CDCD;

    font-family: 'Roboto', Arial, sans-serif;
    color: var(--azul-escuro);
    background-color: #D1CDCD;
    margin: 0 auto;
    
}

main{
    margin-right: 270px;
    padding: 20px 30px;

}

